<div class="contenido">
  <h2>Inicio</h2>
  <h3>¿Qué es TechInventory?</h3>
  <div class="texto-contenedor">
    <p>TechInventory es una poderosa herramienta de software diseñada para simplificar la gestión del inventario
      empresarial. Con características avanzadas y una interfaz intuitiva, ayuda a las empresas a organizar, supervisar
      y optimizar sus existencias de manera eficiente.</p>
  </div>
  <hr>
  <h3>Características Principales</h3>
  <div class="texto-contenedor">
    <ul>
      <li>Seguimiento en tiempo real del inventario.</li>
      <li>Alertas de bajo stock y vencimientos.</li>
      <li>Generación de informes y análisis detallados.</li>
      <li>Integración con sistemas de punto de venta (POS).</li>
      <li>Control de acceso basado en roles.</li>
      <li>Compatibilidad con dispositivos móviles.</li>
    </ul>
  </div>
  <hr>
  <h3>Beneficios</h3>
  <div class="texto-contenedor">
    <ul>
      <li>Aumento de la eficiencia operativa.</li>
      <li>Reducción de costos de almacenamiento y pérdidas por obsolescencia.</li>
      <li>Mejora en la precisión de la previsión de demanda.</li>
      <li>Optimización del flujo de trabajo y la productividad.</li>
      <li>Mejora en la satisfacción del cliente gracias a una gestión de inventario más precisa.</li>
    </ul>
  </div>
  <hr>
  <h3>Últimas Actualizaciones</h3>
  <div class="texto-contenedor">
    <p>¡Estamos constantemente mejorando TechInventory para ofrecerte la mejor experiencia posible! Recientemente hemos
      lanzado las siguientes actualizaciones:</p>
    <ul>
      <li>Mejoras en la interfaz de usuario para una navegación más intuitiva.</li>
    </ul>
  </div>
</div>


<!-- <button (click)="abrirmodal()">Modal</button> -->
