
  <h2>Quiénes Somos</h2>
  <hr>

  <div class="texto-contenedor">
    <p>Nuestro software es una solución completa para gestionar el inventario de tu empresa. Ofrecemos una plataforma
      intuitiva y eficiente que te permite llevar un control detallado de tus productos, gestionar entradas y salidas,
      realizar seguimiento de stock y mucho más. Simplifica tus operaciones diarias y optimiza la gestión de tu inventario
      con nuestra herramienta.</p>
  </div>
  <img src="/assets/image/imagen1.jpg" alt="Imagen 1" class="imagen-1">

